<div class="d-flex">
    <div class="px-2">
        <i class="far fa-credit-card"></i>
    </div>
    <div class="px-2 d-flex w-100 justify-content-between">
        <div>
            <div>
                Add a payment method
            </div>
            <div>
                <small>Add a payment method by providing your credit card</small>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary" (click)="add()">Add payment method</button>
        </div>
    </div>
</div>