
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Code</label>
            </th> 
            <th>
                <label>User</label>
            </th> 
            <th>
                <label>Chain</label>
            </th>    
            <th>
                <label>Coin</label>
            </th>    
            <th>
                <label>Address</label>
            </th>     
            <th>
                <label>Withdraw amount(fee)</label>
            </th>   
            <th>
                <label>Status</label>
            </th>      
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of withdraws">
            <td>
                <a [routerLink]="['/admin/withdraw/' + item.code]">{{item.code}}</a>
            </td>
            <td>
                {{item.user.email}}
            </td>
            <td>
                {{item.chainCoin.chain.name}}
            </td>
            <td>
                {{item.chainCoin.coin.symbol}}
            </td>
            <td>
                {{item.address}}
            </td>
            <td>
                {{item.amount}}({{item.fee}})
            </td>
            <td>
                {{getStatusText(item.status)}}
            </td>
        </tr>
    </tbody>\
</table>