<div class="container aboutElSalvador">
    <div class="row">
        <div class="aboutTitle">
            {{ 'abount-el.about_el_salvador' | translate }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="aboutMenu">
                <ul>
                    <li>
                        <a (click)="scrollTo('t0')">{{ 'abount-el.about_el_salvador' | translate }}</a>
                    </li>
                    <li>
                        <a (click)="scrollTo('t1')">{{ 'abount-el.national_information' | translate }}</a>
                    </li>
                    <li>
                        <a (click)="scrollTo('t2')">{{ 'abount-el.web3_ecosystem' | translate }}</a>
                    </li>
                    <li>
                        <a (click)="scrollTo('t3')">{{ 'abount-el.geographical_environment' | translate }}</a>
                    </li>
                    <li>
                        <a (click)="scrollTo('t4')">{{ 'abount-el.cultural_environment' | translate }}</a>
                    </li>
                    <li>
                        <a (click)="scrollTo('t5')">{{ 'abount-el.social_status' | translate }}</a>
                    </li>
                    <li>
                        <a (click)="scrollTo('t6')">{{ 'abount-el.immigration_policy' | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8">
                    <div class="t1" id="t0">
                        {{ 'abount-el.about_el_salvador' | translate }}
                    </div>
                    <p>
                        {{ 'abount-el.about_detail' | translate }}
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/images/u21.png" alt="">
                </div>
            </div>
            <div class="t1" id="t1">
                {{ 'abount-el.national_information' | translate }}
            </div>
            <p>
                {{ 'abount-el.national_information_description' | translate }}
            </p>
            <p>
                {{ 'abount-el.area' | translate }}
            </p>
            <p>
                {{ 'abount-el.population' | translate }}
            </p>
            <p>
                {{ 'abount-el.language' | translate }}
            </p>
            <p>
                {{ 'abount-el.religion' | translate }}
            </p>
            <p>
                {{ 'abount-el.currency' | translate }}
            </p>
            <p>
                {{ 'abount-el.capital' | translate }}
            </p>
            <p>
                {{ 'abount-el.president' | translate }}
            </p>
            <p>
                {{ 'abount-el.important_dates' | translate }}
            </p>
            <div class="t1" id="t2">
                {{ 'abount-el.web3_ecosystem' | translate }}
            </div>
            <p>
                {{ 'abount-el.web3_introduction' | translate }}
            </p>
            <p>
                {{ 'abount-el.bitcoin_legal_status' | translate }}
            </p>
            <p>
                {{ 'abount-el.positive_regulatory_environment' | translate }}
            </p>
            <p>
                {{ 'abount-el.promoter_of_web3_ecosystem' | translate }}
            </p>
            <p>
                {{ 'abount-el.international_cooperation' | translate }}
            </p>
            <div class="t1" id="t3">
                {{ 'abount-el.geographical_environment' | translate }}
            </div>
            <p>
                {{ 'abount-el.location' | translate }}
            </p>
            <p>
                {{ 'abount-el.natural_features' | translate }}
            </p>
            <p>
                {{ 'abount-el.coastline' | translate }}
            </p>
            <p>
                {{ 'abount-el.volcanoes' | translate }}
            </p>
            <p>
                {{ 'abount-el.coatepeque_lake' | translate }}
            </p>
            <p>
                {{ 'abount-el.nature_protection_areas' | translate }}
            </p>
            <div class="t1" id="t4">
                {{ 'abount-el.cultural_environment' | translate }}
            </div>
            <p>
                {{ 'abount-el.rich_cultural_environment' | translate }}
            </p>
            <p>
                {{ 'abount-el.historical_heritage' | translate }}
            </p>
            <p>
                {{ 'abount-el.cultural_traditions' | translate }}
            </p>
            <p>
                {{ 'abount-el.artists_and_writers' | translate }}
            </p>
            <p>
                {{ 'abount-el.religion_in_culture' | translate }}
            </p>
            <p>
                {{ 'abount-el.hospitable_people' | translate }}
            </p>
            <div class="t1" id="t5">
                {{ 'abount-el.social_status' | translate }}
            </div>
            <div>
                <ul class="social">
                    <li>
                        {{ 'abount-el.economic_environment' | translate }}
                    </li>
                    <li>
                        {{ 'abount-el.crime_issues' | translate }}
                    </li>
                    <li>
                        {{ 'abount-el.immigration_and_remittances' | translate }}
                    </li>
                </ul>
            </div>
            <div class="t1" id="t6">
                {{ 'abount-el.immigration_policy' | translate }}
            </div>
            <p>
                {{ 'abount-el.passport_ranking' | translate }}
            </p>
        </div>
    </div>
</div>