<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="">
                <h1>KYC Level 1</h1>
            </div>
            <div class="steps">
                <div class="step line" [routerLink]="['/setup/basic-info']" routerLinkActive="router-link-active"
                    [ngClass]="{active: step ==1}">
                    <!-- <div class="step-circle">1</div> -->
                    <div class="step-name">Step 1</div>
                    <div class="step-desc">User Information</div>
                </div>
                <svg width="50" height="10" viewBox="0 0 25 10" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="20,0 25,5 20,10" fill="#333333" />
                </svg>

                <div class="step line" [routerLink]="['/setup/document']" routerLinkActive="router-link-active"
                    [ngClass]="{active: step ==2}">
                    <!-- <div class="step-circle">2</div> -->
                    <div class="step-name">Step 2</div>
                    <div class="step-desc">Upload ID</div>
                </div>
                <svg width="50" height="10" viewBox="0 0 25 10" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="20,0 25,5 20,10" fill="#333333" />
                </svg>

                <div class="step " [routerLink]="['/setup/video']" routerLinkActive="router-link-active"
                    [ngClass]="{active: step ==3}">
                    <!-- <div class="step-circle">3</div> -->
                    <div class="step-name">Step 3</div>
                    <div class="step-desc">Upload video</div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-10">
            <div class="step-line"></div>
        </div> -->
    </div>
</div>