<div class="">
    <app-rounded-card>
        <div class="accountMain">
            <div class="d-flex">
                <h2 class="accountMainTitle">{{'applyComponent.immigrationManagement'|translate}} - {{(kind ==
                    "green-card" ? 'applyComponent.greenCard' : 'applyComponent.passport')|translate}}
                    {{'applyComponent.application'|translate}}</h2>
            </div>
            <div class="">
                <app-progress></app-progress>
                <div class="row">
                    <app-user-form></app-user-form>
                </div>
            </div>
        </div>
    </app-rounded-card>
</div>