.order-table {
    width: 100%;
    // overflow: scroll;
}

.statusBtn {
    min-width: 84px;
    max-width: 100%;
}

.orders {
    padding: 18px 23px;
}

.orderTitle {
    font-size: 22px;
    font-weight: 500;
    color: #6a7fb0;
    line-height: 30px;
}

thead {
    height: 74px;
    th {
        font-size: 14px;
        font-weight: 400;
        color: rgba(58, 79, 124, 0.5);
        line-height: 20px;
    }
}

table,
tr,
td,
th {
    border: none !important;
    border-bottom: none !important;
    border-bottom-width: 0px !important;
}

tbody {
    tr {
        height: 74px;
        font-size: 16px;
        font-weight: 400;
        color: #273c67;
        line-height: 22px;
        padding: 0 5px;
    }

    td {
        a {
            color: #0663c6;
        }
    }

    tr:hover {
        background: #eef2fc;
        border-radius: 12px;
    }

    tr:hover td {
        background: #eef2fc;
    }

    tr td:first-child {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    tr td:last-child {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

.bondIcon {
    width: 36px;
    height: 36px;
    margin-right: 5px;
}

// .table > :not(caption) > * > * {
//     border-bottom-width: 0px !important;
// }

.bondId{
    min-width: 80px;
    text-align: center;
}

.noMobile {
    display: table-cell;
}

.onlyMobile {
    display: none;
}

.hide600 {
    display: table;
}

.show600 {
    display: none;
}

@media screen and (max-width: 1200px) {
    // table {
    //     width: 100%;
    //     overflow: scroll;
    // }

    .order-table-con {
        // overflow-x:auto;
    }

    tbody {
        tr {
            font-size: 12px;
        }

        td {
            padding: 0 5px;
            overflow-wrap: anywhere;
        }
    }

    .orders {
        // min-width: 800px;
        max-width: 100%;
        overflow: hidden;
    }
}

@media screen and (max-width: 800px) {
    .noMobile {
        display: none;
    }

    .onlyMobile {
        display: table-cell;
    }
}

@media screen and (max-width: 600px) {
    .bondReceipt {
        scale: 0.5;
    }

    .order-table-con {
        // overflow: scroll;
        max-width: 100%;
    }

    .assetsSum {
        gap: 12px;
    }

    .hide600 {
        display: none;
    }

    .show600 {
        display: table;
    }

    .orderRow {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
        margin: 15px 0px;
        background-color: #f3f5fa;
        border-radius: 10px;
        font-size: 12px;
        color: #6a7fb0;
    }
}
