.card-container {
    // min-width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    color: black;
}

@media only screen and (min-width: 800px) {
    .main-container {
        padding-left: 20%;
        padding-right: 20%;
    }
}


.kycDiv {
    max-width: 750px;
    margin: 0 auto;
}
