.main-container {
    border: 1px dashed;
    cursor: pointer;
    padding: 20px;
}

.svg-container {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: rgb(91,97,110);
}
