<div class="container">
    <div class="row">
        <div class="col col-12 center">
            <h3>{{ 'Recover Passward' | translate }}</h3>
        </div>
    </div>

    <br>
</div>
<div class="container">
    <app-rounded-card>
        <div class="row">
            <div class="col col-12">
                {{ 'requiredFieldsAsterisk' | translate }}
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <div *ngIf="!reset">
                    <div class="form-group" >
                        <label for="exampleInputEmail1">{{ 'emailLabel' | translate }}</label>
                        <input type="email" class="form-control" placeholder="{{ 'enterEmailPlaceholder' | translate }}"
                            [(ngModel)]="email">
                    </div>
                    <div class="form-group my-1">
                        <label for="code">{{ 'Email.verificationCodePlaceholder' | translate }}</label>
                        <div class="d-flex">
                            <input type="text" class="form-control"
                            placeholder="{{ 'Email.verificationCodePlaceholder' | translate }}" [(ngModel)]="code">
                            <button type="button" class="btn btn-primary btn-sm ml-2 codeBtn" (click)="sendCode()">{{'Send Code'|translate}}</button>
                        </div>
                    </div>
                    <!-- Code is Send message -->
                    <div *ngIf="isCodeSend">
                        <div class="alert alert-success" role="alert">
                            {{'Code sent'|translate}}
                        </div>
                    </div>
                </div>
               

                <div *ngIf="reset">
                    

                    <div class="form-group my-1">
                        <label for="exampleInputEmail1">{{'Password'|translate}} *</label>
                        <input type="password" class="form-control" [(ngModel)]="password"
                            (blur)="onPwdBlurEvent($event)" placeholder="{{'Enter password'|translate}}">
                    </div>

                    <div class="form-group my-1">
                        <label for="exampleInputEmail1">{{'Repeat Password'|translate}} *</label>
                        <input type="password" class="form-control" [(ngModel)]="repassword"
                            (blur)="onRePwdBlurEvent($event)" placeholder="{{'Repeat Password'|translate}}">
                    </div>
                </div>

            </div>
        </div>

        <div class="row my-3">
            <div class="col col-12">
                <button type="button" class="btn btn-primary w-100 btn-lg border100"
                    (click)="confirm()">{{'Confirm'|translate}}</button>
            </div>
        </div>
    </app-rounded-card>
</div>