<div class="container">
  <div>
    <h1>{{'privacyPolicy.title'|translate}}</h1>
    <p>{{'privacyPolicy.welcomeMessage'|translate}}</p>

    <h2>{{'privacyPolicy.sectionCollectInformation.title'|translate}}</h2>
    <p>{{'privacyPolicy.sectionCollectInformation.personalIdentity'|translate}}</p>
    <p>{{'privacyPolicy.sectionCollectInformation.financialInformation'|translate}}</p>
    <p>{{'privacyPolicy.sectionCollectInformation.kycInformation'|translate}}</p>
    <p>{{'privacyPolicy.sectionCollectInformation.cryptoPaymentInformation'|translate}}</p>
    <p>{{'privacyPolicy.sectionCollectInformation.payCoolWalletInformation'|translate}}</p>

    <h2>{{'privacyPolicy.sectionUseInformation.title'|translate}}</h2>
    <p>{{'privacyPolicy.sectionUseInformation.kycVerification'|translate}}</p>
    <p>{{'privacyPolicy.sectionUseInformation.transactionProcessing'|translate}}</p>
    <p>{{'privacyPolicy.sectionUseInformation.customerSupport'|translate}}</p>
    <p>{{'privacyPolicy.sectionUseInformation.legalCompliance'|translate}}</p>
    <p>{{'privacyPolicy.sectionUseInformation.websiteImprovement'|translate}}</p>

    <h2>{{'privacyPolicy.sectionInformationDisclosure.title'|translate}}</h2>
    <p>{{'privacyPolicy.sectionInformationDisclosure.kycCompliance'|translate}}</p>
    <p>{{'privacyPolicy.sectionInformationDisclosure.legalRequirements'|translate}}</p>
    <p>{{'privacyPolicy.sectionInformationDisclosure.cryptoPaymentProviders'|translate}}</p>
    <p>{{'privacyPolicy.sectionInformationDisclosure.payCoolWallet'|translate}}</p>

    <h2>{{'privacyPolicy.sectionDataSecurity.title'|translate}}</h2>
    <p>{{'privacyPolicy.sectionDataSecurity.securityMeasures'|translate}}</p>
  </div>

  <div>
    <h2>{{'privacyPolicy.sectionMinorPrivacy.title'|translate}}</h2>
    <p>{{'privacyPolicy.sectionMinorPrivacy.minorUsage'|translate}}</p>

    <h2>{{'privacyPolicy.sectionPrivacyUpdates.title'|translate}}</h2>
    <p>{{'privacyPolicy.sectionPrivacyUpdates.accessCorrection'|translate}}</p>

    <h2>{{'privacyPolicy.sectionPrivacyPolicyUpdates.title'|translate}}</h2>
    <p>{{'privacyPolicy.sectionPrivacyPolicyUpdates.policyModification'|translate}}</p>

    <h2>{{'privacyPolicy.sectionInformationRegulation.title'|translate}}</h2>
    <p>{{'privacyPolicy.sectionInformationRegulation.governmentRegulation'|translate}}</p>

    <h2>{{'privacyPolicy.sectionContactUs.title'|translate}}</h2>
    <p>dnb@pay.cool</p>

    <p>{{'privacyPolicy.thankYouMessage'|translate}}</p>
  </div>

</div>