.item {
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 32px;
    background: rgb(238, 240, 243);
    border-radius: 50%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.item:hover {
    height: 45px;
    width: 45px;
    border-radius: 5px;
}