<div class="">
    <app-rounded-card>
        <div class="accountMain">
            <div class="d-flex">
                <h2 class="accountMainTitle">
                    <span *ngIf="kind == 'green-card' || kind == 'PR'">
                        {{'underReviewComponent.greenCardApplication'|translate}}</span>
                    <span *ngIf="kind == 'passport' || kind == 'Passport' ">
                        {{'underReviewComponent.passportApplication'|translate}}</span>
                </h2>
            </div>
            <div class="">
                <app-progress></app-progress>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="subTitle mt-57">{{'underReviewComponent.qualificationReview'|translate}}</div>
                    </div>
                    <div class="col-md-12 center">
                        <img class="waitImg" src="/assets/images/wait.png" alt="">
                        <div class="waitTxt">
                            {{'underReviewComponent.reviewInProgress'|translate}}
                        </div>
                        <button class="waitBtn" (click)="changeData()">
                            {{'underReviewComponent.modifyApplicationData'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </app-rounded-card>
</div>