.waitTxt {
    font-size: 14px;
    font-weight: 400;
    color: #3d527e;
    line-height: 20px;
    margin-top: 28px;
}

.waitImg{
    margin-top: 54px;
}

.waitBtn {
    min-width: 160px;
    max-width: 100%;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #0140ce;
    font-size: 14px;
    font-weight: 400;
    color: #0140ce;
    line-height: 20px;
    margin-top: 56px;
    margin-bottom: 188px;
    background-color: #fff;
}

.subTitle {
    font-size: 18px;
    font-weight: 500;
    color: #6a7fb0;
    line-height: 25px;
}

.mt-57 {
    margin-top: 57px;
}