.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0;
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px;
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
}

.captchaAll{
    padding: 5px 6px;
    border-radius: 5px;
}

@media screen and (max-width: 500px) {
    .capHalf{
        width: 100% !important;
    }

    .captchaAll{
        margin-top: 10px;
    }
    
}