<div class="container b-container">
    <div class="row">
        <div class="col-12 col-md-7 f-center">
            <div class="d-flex align-items-center text-primary">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="HeroPill__NakedBitcoinIcon-sc-16ndsef-2 gLnfIS">
                    <path d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12z" fill="#1652F0">
                    </path>
                    <path
                        d="M17.274 10.515c.235-1.572-.962-2.417-2.599-2.981l.531-2.13-1.296-.323-.517 2.074c-.34-.086-.69-.165-1.039-.245l.521-2.087L11.58 4.5l-.53 2.13c-.283-.065-.56-.128-.829-.196l.002-.007-1.788-.446-.345 1.385s.962.22.942.234c.525.13.62.478.603.754L9.03 10.78c.036.01.083.023.135.043l-.137-.034-.848 3.4c-.064.158-.227.398-.595.307.014.019-.941-.235-.941-.235L6 15.745l1.688.42c.313.08.62.162.923.239l-.537 2.154 1.296.322.53-2.13c.355.096.698.184 1.034.268l-.53 2.121 1.297.323.536-2.15c2.211.419 3.873.25 4.573-1.75.564-1.61-.028-2.538-1.191-3.144.847-.195 1.485-.752 1.655-1.903zm-2.963 4.153c-.4 1.61-3.11.74-3.99.522l.713-2.854c.879.22 3.697.654 3.277 2.332zm.402-4.176c-.365 1.464-2.621.72-3.353.537l.645-2.587c.731.182 3.089.522 2.708 2.05z"
                        fill="#fff"></path>
                </svg>
                <div class="px-1 ">
                    Jump start your portfolio
                </div>
                <svg width="16" height="12" viewBox="0 0 16 12" fill="none" class="HeroPill__StyledIncentiveArrow-sc-16ndsef-0 eOcbbt">
                    <path d="M0 7h12.17l-3.28 3.28 1.41 1.41L16 6 10.3.31 8.89 1.72 12.17 5H0v2z" fill="#1652F0"></path>
                </svg>
            </div>
            <h1 class="py-3 font-60 f-up font-b">Jump start your crypto portfolio</h1>
            <div class="font-18">Join Fundark today and start taking advantage of all our features and benefits! With our user-friendly platform, easy payment options, and rewarding programs, buying and selling cryptocurrencies has never been easier.</div>

            <div class="input-group pt-3 mb-3">
                <!-- <input type="text" class="form-control" [(ngModel)]="email" placeholder="Email address"
                    aria-label="Email address" aria-describedby="basic-addon2"> -->
                <!-- <div class="input-group-append"> -->
                <div>
                    <button type="button" class="btn btn-primary" (click)="getStarted()">Get started</button>
                </div>
            </div>
        </div>
        <div class=" col-12 col-md-5 f-center">
            <img src="assets/images/BitcoinHand.png" alt="bitcoin" class="img-fluid" />
        </div>
    </div>

</div>
<div class="container-fluid bg-dark text-white">
    <div class="row">
        <div class="col-12 col-md-12 my-5">
            <div class="t-half t-c">
                <h2 class="font-b font-60">ABOUT <span class="mpurple">FUNDARK</span></h2>
                <p class="font-16">
                    <span class="mpurple">Fundark</span> is a cryptocurrency exchange that allows you to buy and sell Bitcoin, Ethereum, and other cryptocurrencies with your local currency. We offer a variety of payment methods, including bank transfers,
                    credit cards, and debit cards. We also offer a variety of features, including a referral program, a rewards program, and a referral program.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container m-container my-5">
    <div class="row">
        <div class="col-12 col-md-12 my-3">
            <div class="t-half t-c">
                <h2 class="font-b font-60">Onboarding <span class="mpurple">Procedure</span></h2>
                <p class="font-16">
                    Only 4 Steps to get started. Create a Fundark account and finish KYC. Then request for quote from OTC traders. Agree on the price of the quote. Make payment and wait for the trade to be settled. Settlement is done within 24 hours.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- icon image, title, info -->
            <div class="t-half t-c">
                <img src="assets/images/STELLAR.png" alt="stellar" class="img-fluid img-icon" />
                <h3 class="font-b font-20">Create Account</h3>
                <p class="font-14">
                    Getting started with Fundark is a straightforward process that can be completed in just four simple steps. To begin, you need to create an account with Fundark and complete their Know Your Customer (KYC) procedures, which are required to verify your identity
                    and ensure compliance with regulatory requirements.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <!-- icon image, title, info -->
            <div class="t-half t-c">
                <img src="assets/images/PEER-TO-PEER.png" alt="p2p" class="img-fluid img-icon" />
                <h3 class="font-b font-20">Communicate</h3>
                <p class="font-14">
                    Next, you should reach out to Over-The-Counter (OTC) traders, who are individuals or entities that facilitate the trade of digital assets, and request a quote. This will allow you to see the price at which you can purchase your desired asset.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <!-- icon image, title, info -->
            <div class="t-half t-c">
                <img src="assets/images/FIAT.png" alt="fiat" class="img-fluid img-icon" />
                <h3 class="font-b font-20">Confirm Price</h3>
                <p class="font-14">
                    Once you have requested a quote, you will be able to see the price offered by the OTC trader. You can then choose to accept the quote or reject it. If you accept the quote, you will be asked to confirm the details of the trade, including the amount of
                    cryptocurrency you wish to purchase, the currency you wish to use to make the purchase, and the price you wish to pay.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <!-- icon image, title, info -->
            <div class="t-half t-c">
                <img src="assets/images/WALLET.png" alt="wallet" class="img-fluid img-icon" />
                <h3 class="font-b font-20">Settlement</h3>
                <p class="font-14">
                    Finally, all that's left to do is wait for the trade to be settled. This usually takes place within 24 hours and, once completed, you'll be the proud owner of your desired digital asset. So, follow these four simple steps to get started with Fundark today!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container m-container my-3">
    <div class="row">
        <div class="col-md-5">
            <img src="assets/images/Trophy.png" alt="trophy" class="img-fluid" />
        </div>
        <div class="col-md-7 mb-2 f-center">
            <div class="t-half t-c ">
                <h2 class="font-b font-60"><span class="mpurple">Fundark</span> Advantages</h2>
                <p class="font-16">
                    Looking for a reliable platform to buy and sell cryptocurrencies like Bitcoin and Ethereum? Look no further than Fundark! With Fundark, you have the advantage of a wide range of payment options, including bank transfers, credit cards, and debit cards,
                    making it easy for you to purchase your desired digital assets. But that's not all! Fundark also offers a range of unique features that sets us apart from the competition. With our referral program, you can earn rewards for inviting
                    your friends to join the platform. And with our rewards program, you can earn bonuses for your trading activity, making it even more advantageous to use Fundark.


                </p>
            </div>
        </div>
    </div>
</div>