.tabCotainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    max-width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 30px;
    margin: 20px auto;
    background-color: #ffffff66;
}