// Colors
$c-blue: #003dc2;
$c-blue-light: #585fff;
$c-grey: #eef3fc;

// button
$btn-bg: #003dc2;
$btn-bg-hover: #585fff;

//text color
$t-dark: #3A4F7C;
$t-grey: #6A7FB0  ;

//background color
$bg-grey: #eef3fc;
