
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Name</label>
            </th>     
            <th>
                <label>Symbol</label>
            </th>   
            <th>
                <label>Total supply</label>
            </th>    
            <th>
                <label>Icon</label>
            </th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of coins">
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.symbol}}
            </td>
            <td>
                {{item.total_supply}}
            </td>
            <td>
                <img class="icon" src="{{item.icon}}" />
            </td>
        </tr>
    </tbody>
</table>