<div class="container">
    <div *ngIf="currentLan === 'en'">
        <h1>About El Salvador Government Digital National Bond DNB</h1>
        <p>DNB is a national bond in digital format guaranteed by the El Salvador government to repay the principal and interest obligations according to the terms of the bond. </p>
        <p>El Salvador is the first country in the world to pass legislation to establish Bitcoin as a legal currency. The government hopes to use Bitcoin as a legal currency to attract investment, promote economic development, facilitate capital circulation,
            promote financial inclusion, strengthen Multiple purposes such as currency diversification. </p>
        <p>At the same time, El Salvador has also formulated a set of development plans for the digital economy centered on Bitcoin, including building a Bitcoin future city, promoting the all-round development of emerging industries such as Web3, Metaverse,
            and AI, making El Salvador a regional and even An important future digital economic center in the world. </p>
        <p>The issuance of digital national debt DNB is part of El Salvador's national digital economy plan. Recently, earth-shaking changes have taken place in the country of El Salvador, with stable social security and rapid economic development. According
            to the objective conditions of El Salvador, the government has selected the digital economy, a new direction for the global mainstream industry, hoping to provide impetus for the long-term economic development of El Salvador. Through the issuance
            of digital national bonds, it will help the development of El Salvador's digital economy and provide opportunities for investors to share the dividends of El Salvador's digital economy.
        </p>
        <p>
            Digital treasury bonds are treasury bonds issued digitally on the blockchain. Digital treasury bonds are issued in the form of digital certificates. They have the characteristics of low cost, high security, strong liquidity, and programmable. They are
            new types of treasury bonds in the era of digital economy. It will become the main way to issue government bonds in the future. The El Salvador digital national bond DNB is the first digital national bond issued by the El Salvador government
            and the first digital national bond in the world, so it has a unique commemorative significance.
        </p>
        <p>DNB is a 10-year registered national bond denominated in US dollars. In order to meet the needs of different investors, DNB will be issued in two different forms: standard digital national bond (DNB) and Stoshi digital national bond (XDNB).</p>
        <ul>
            <li>The Stoshi government bonds each have a face value of $100 and an annual interest rate of 8%. The interest is paid once a year and redeemed after the principal is due. </li>
            <li>The face value of each standard national bond is 15,000 US dollars, represented by a one ounce gold coin and a commemorative picture. The annual interest rate of gold treasury bonds is 8%, and the interest is paid once a year. There are optional
                ways to deal with the principal when it expires: one is to redeem the principal without receiving gold coins (a 10% handling fee is required), and at the same time return the ownership of the commemorative pictures; the other is to Receive
                and own commemorative gold coins and corresponding commemorative pictures without redeeming the principal. </li>
        </ul>

        <p>In order to promote the issuance of digital national bonds and meet the needs of the country's economic development, the El Salvador government has provided immigration policies for the issuance of national bonds according to the law. Citizenship
            is available. The purchased treasury bonds can be ordinary treasury bonds, gold treasury bonds, or a mixture of the two. In addition, immigrant applicants must meet legal requirements such as having no criminal record and no major diseases.
        </p>
        <p>In terms of the specific issuance method, the El Salvador government creates the original national bond record through the government platform, and the PAY.COOL company (PAY.COOL D.A. de V.C.) underwrites and subsequent transactions through the
            FAB blockchain and the PAY.COOL platform according to the law operate. </p>
        <p>DNB will be issued and managed in accordance with the globally accepted national bond issuance standards, and the entire process of bond sales, transactions, and management will be implemented in accordance with international practices. </p>
        <p>If you have any questions, please contact or consult with relevant departments of the El Salvador government by email:</p>
        <p>Email: </p>
    </div>

    <div *ngIf="currentLan === 'es'">
        <h1>Acerca del Bono Nacional Digital del Gobierno de El Salvador DNB</h1>
        <p>DNB es un bono nacional garantizado por el gobierno de El Salvador para pagar las obligaciones de capital e intereses de acuerdo con los términos del bono. </p>
        <p>El Salvador es el primer país del mundo en aprobar legislación para establecer Bitcoin como moneda de curso legal. El gobierno espera utilizar Bitcoin como moneda de curso legal para atraer inversiones, promover el desarrollo económico, facilitar
            la circulación de capitales, promover la inclusión financiera, fortalecer múltiples propósitos como la diversificación de divisas. </p>
        <p>Al mismo tiempo, El Salvador también ha formulado un conjunto de planes de desarrollo para la economía digital centrados en Bitcoin, incluida la construcción de una ciudad futura de Bitcoin, que promueve el desarrollo integral de industrias emergentes
            como Web3, Metaverse e IA. , convirtiendo a El Salvador en un futuro centro económico digital regional e incluso en el mundo. </p>
        <p>La emisión de deuda nacional digital DNBes parte del plan nacional de economía digital de El Salvador. Recientemente, se han producido cambios trascendentales en el país de El Salvador, con una seguridad social estable y un rápido desarrollo
            económico. De acuerdo con las condiciones objetivas de El Salvador, el gobierno ha seleccionado la economía digital, una nueva dirección para la industria principal global, con la esperanza de impulsar el desarrollo económico a largo plazo
            de El Salvador. A través de la emisión de bonos nacionales digitales, ayudará al desarrollo de la economía digital de El Salvador y brindará oportunidades para que los inversionistas compartan los dividendos de la economía digital de El Salvador.
        </p>
        <p>
            Los bonos del tesoro digitales son bonos del tesoro emitidos digitalmente en la cadena de bloques. Los bonos del tesoro digitales se emiten en forma de certificados digitales. Tienen las características de bajo costo, alta seguridad, fuerte liquidez y
            programables. Son nuevos tipos de bonos del tesoro en la era de la economía digital. Se convertirá en la principal forma de emitir bonos del gobierno en el futuro. El bono nacional digital de El Salvador DNBes el primer bono nacional
            digital emitido por el gobierno de El Salvador y el primer bono nacional digital del mundo, por lo que tiene un significado conmemorativo único.
        </p>
        <p>DNB es un bono nacional registrado a 10 años denominado en dólares estadounidenses. Para satisfacer las necesidades de los diferentes inversores, el DNBse emitirá en dos formas diferentes: bono nacional ordinario (DNB) y bono nacional oro
            (XDNB).
        </p>
        <ul>
            <li>Los bonos comunes del gobierno tienen cada uno un valor nominal de $100 y una tasa de interés anual del 7,5 %. El interés se paga una vez al año y se redime después de que vence el principal. </li>
            <li>El valor nominal de cada bono nacional de oro es de 15 000 dólares estadounidenses, representado por una moneda de oro de 1,5 onzas y una imagen conmemorativa. La tasa de interés anual de los bonos del tesoro de oro es del 8% y el interés
                se paga una vez al año. Hay formas opcionales de tratar con el principal cuando vence: una es canjear el principal sin recibir monedas de oro (se requiere una tarifa de manejo del 10%) y al mismo tiempo devolver la propiedad de las imágenes
                conmemorativas; la otra es Recibir y poseer monedas de oro conmemorativas y los cuadros conmemorativos correspondientes sin redimir el principal. </li>
        </ul>

        <p>Con el fin de promover la emisión de bonos nacionales digitales y satisfacer las necesidades del desarrollo económico del país, el gobierno de El Salvador ha dispuesto políticas migratorias para la emisión de bonos nacionales de acuerdo a la ley.
            La ciudadanía está disponible. Los bonos del tesoro comprados pueden ser bonos del tesoro ordinarios, bonos del tesoro de oro o una combinación de ambos. Además, los solicitantes inmigrantes deben cumplir con requisitos legales como no tener
            antecedentes penales y no tener enfermedades importantes. </p>
        <p>En cuanto al método de emisión específico, el gobierno de El Salvador crea el registro original de bonos nacionales a través de la plataforma del gobierno, y la empresa PAY.COOL (PAY.COOL D.A. de V.C.) suscribe y las transacciones posteriores
            a través de la cadena de bloques FAB y el Opera la plataforma PAY.COOL de acuerdo a la ley. </p>
        <p>Los DNBse emitirán y administrarán de acuerdo con los estándares de emisión de bonos nacionales aceptados a nivel mundial, y todo el proceso de venta, transacciones y administración de bonos se implementará de acuerdo con las prácticas internacionales.
        </p>
        <p>Si tiene alguna pregunta, comuníquese o consulte con los departamentos pertinentes del gobierno de El Salvador por correo electrónico:</p>
        <p>Correo electrónico: </p>
    </div>

    <div *ngIf="currentLan === 'fr'">
        <h1>À propos du gouvernement salvadorien Digital National Bond DNB</h1>
        <p>DNB est une obligation nationale garantie par le gouvernement salvadorien pour rembourser le principal et les intérêts conformément aux conditions de l'obligation. </p>
        <p>Le Salvador est le premier pays au monde à adopter une législation établissant le Bitcoin comme monnaie légale. Le gouvernement espère utiliser Bitcoin comme monnaie légale pour attirer les investissements, promouvoir le développement économique,
            faciliter la circulation des capitaux, promouvoir l'inclusion financière, renforcer des objectifs multiples tels que la diversification des devises. </p>
        <p>Dans le même temps, El Salvador a également formulé un ensemble de plans de développement pour l'économie numérique centrés sur Bitcoin, y compris la construction d'une future ville Bitcoin, la promotion du développement global d'industries émergentes
            telles que Web3, Metaverse et AI , faisant d'El Salvador un futur centre économique numérique régional et même important dans le monde. </p>
        <p>L'émission de la dette nationale numérique DNBfait partie du plan national d'économie numérique d'El Salvador. Récemment, des changements bouleversants ont eu lieu dans le pays d'El Salvador, avec une sécurité sociale stable et un développement
            économique rapide. Selon les conditions objectives d'El Salvador, le gouvernement a choisi l'économie numérique, une nouvelle direction pour l'industrie grand public mondiale, dans l'espoir de donner une impulsion au développement économique
            à long terme d'El Salvador. Grâce à l'émission d'obligations nationales numériques, il contribuera au développement de l'économie numérique d'El Salvador et offrira aux investisseurs la possibilité de partager les dividendes de l'économie
            numérique d'El Salvador.
        </p>
        <p>
            Les bons du Trésor numériques sont des bons du Trésor émis numériquement sur la blockchain. Les bons du Trésor numériques sont émis sous forme de certificats numériques. Ils ont les caractéristiques d'un faible coût, d'une haute sécurité, d'une forte
            liquidité et d'une programmation. Ce sont de nouveaux types de bons du Trésor à l'ère de l'économie numérique. Il deviendra le principal moyen d'émettre des obligations d'État à l'avenir. L'obligation nationale numérique d'El Salvador DNB
            est la première obligation nationale numérique émise par le gouvernement d'El Salvador et la première obligation nationale numérique au monde, elle a donc une signification commémorative unique.
        </p>
        <p>DNB est une obligation nationale nominative à 10 ans libellée en dollars américains. Afin de répondre aux besoins des différents investisseurs, la DNBsera émise sous deux formes différentes : l'obligation nationale ordinaire (DNB) et l'obligation
            nationale-or (XDNB).</p>
        <ul>
            <li>Les obligations d'État ordinaires ont chacune une valeur nominale de 100 USD et un taux d'intérêt annuel de 7,5 %. Les intérêts sont payés une fois par an et remboursés après l'échéance du principal. </li>
            <li>La valeur nominale de chaque obligation nationale en or est de 15 000 dollars américains, représentée par une pièce d'or de 1,5 once et une photo commémorative. Le taux d'intérêt annuel des bons du Trésor en or est de 8% et les intérêts sont
                payés une fois par an. Il existe des moyens facultatifs de traiter le principal à son expiration : l'un consiste à racheter le principal sans recevoir de pièces d'or (des frais de traitement de 10 % sont requis) et, en même temps, à rendre
                la propriété des images commémoratives ; l'autre est de recevoir et de posséder des pièces d'or commémoratives et des images commémoratives correspondantes sans racheter le principal. </li>
        </ul>

        <p>Afin de promouvoir l'émission d'obligations nationales numériques et de répondre aux besoins de développement économique du pays, le gouvernement salvadorien a mis en place des politiques d'immigration pour l'émission d'obligations nationales
            conformément à la loi. La citoyenneté est disponible. Les bons du Trésor achetés peuvent être des bons du Trésor ordinaires, des bons du Trésor en or ou un mélange des deux. De plus, les demandeurs d'immigration doivent satisfaire à des exigences
            légales telles que l'absence de casier judiciaire et l'absence de maladies majeures. </p>
        <p>En ce qui concerne la méthode d'émission spécifique, le gouvernement salvadorien crée l'enregistrement obligataire national d'origine via la plate-forme gouvernementale, et la société PAY.COOL (PAY.COOL D.A. de V.C.) souscrit et les transactions
            ultérieures via la blockchain FAB et le La plate-forme PAY.COOL fonctionne conformément à la loi. </p>
        <p>DNB sera émis et géré conformément aux normes nationales d'émission d'obligations acceptées dans le monde entier, et l'ensemble du processus de vente, de transaction et de gestion d'obligations sera mis en œuvre conformément aux pratiques internationales.
        </p>
        <p>Si vous avez des questions, veuillez contacter ou consulter les départements concernés du gouvernement salvadorien par e-mail :</p>
        <p>E-mail : </p>
    </div>
    <div *ngIf="currentLan === 'kr'">
        <h1>엘살바도르 정부 디지털 국가 채권 DNB 정보</h1>
        <p>DNB는 엘살바도르 정부가 채권의 조건에 따라 원리금을 상환할 것을 보증하는 국채입니다. </p>
        <p>엘살바도르는 세계 최초로 비트코인을 법정화폐로 지정하는 법안을 통과시켰습니다. 정부는 비트코인을 법정화폐로 사용하여 투자 유치, 경제 발전 촉진, 자본 순환 촉진, 금융 포용 촉진, 통화 다양화와 같은 다양한 목적. </p>
        <p>동시에 엘살바도르는 비트코인 ​​미래 도시 건설, 웹3, 메타버스, AI 등 신흥 산업의 전방위적 발전을 촉진하는 등 비트코인 ​​중심의 디지털 경제를 위한 일련의 개발 계획도 수립했습니다. , 엘살바도르를 지역적이고 세계에서 중요한 미래 디지털 경제 중심지로 만듭니다. </p>
        <p>디지털 국가 부채 DNB의 발행은 엘살바도르의 국가 디지털 경제 계획의 일부입니다. 최근 안정적인 사회보장과 급속한 경제발전으로 땅을 뒤흔드는 변화가 엘살바도르에서 일어나고 있다. , 엘살바도르의 장기적인 경제 발전을 위한 자극제를 제공하기를 희망합니다. 디지털 국채 발행을 통해 엘살바도르의 디지털 경제 발전에 도움을 주고 투자자들이 엘살바도르 디지털 경제의 배당금을 공유할 수 있는 기회를 제공할 예정이다.
        </p>
        <p>
            디지털 국채는 블록체인에서 디지털 방식으로 발행된 국채입니다.디지털 국채는 디지털 인증서 형식으로 발행됩니다.저비용, 높은 보안, 강력한 유동성 및 프로그래밍 가능한 특징이 있습니다.그들은 국채의 새로운 유형입니다. 디지털 경제 시대, 향후 국채 발행의 주요 수단이 될 것입니다. 엘살바도르 디지털 국채 DNB는 엘살바도르 정부가 발행한 최초의 디지털 국채이자 세계 최초의 디지털 국채로 독특한 기념적 의미를 지닌다.
        </p>
        <p>DNB는 미국 달러로 표시되는 10년 만기 등록 국채로 다양한 투자자의 요구를 충족하기 위해 일반 국채(DNB)와 금 국채(XDNB)의 두 가지 형태로 발행됩니다. </p>
        <ul>
            <li>보통 국채는 액면가가 $100이고 연이율이 7.5%이며, 이자는 1년에 한 번 지급되고 원금 만기가 지나면 상환됩니다. </li>>
            <li>각 금 국채의 액면가는 미화 15,000달러이며 1.5온스 금화와 기념 사진으로 표시됩니다. 금 국채의 연이율은 연 8%이며, 이자는 연 1회 지급 만기 시 원금을 처리하는 선택적인 방법이 있는데 하나는 금화를 받지 않고 원금을 상환하는 방법(취급수수료 10%) 필수, 동시에 기념 사진의 소유권을 반환하고, 다른 하나는 원금을 상환하지 않고 기념 금화와 해당 기념 사진을 수령하여 소유하는 것입니다. </li>>
        </ul>

        <p>디지털 국채 발행을 촉진하고 국가 경제 발전의 요구에 부응하기 위해 엘살바도르 정부는 법에 따라 국채 발행을 위한 이민 정책을 마련해 시민권을 취득할 수 있다. 매입한 국채는 일반 국채, 금 국채 또는 이 둘을 혼합한 것일 수 있습니다. 또한 이민 신청자는 전과가 없고 중대한 질병이 없는 등 법적 요건을 충족해야 합니다. </p>
        <p>구체적인 발행방식은 엘살바도르 정부가 정부플랫폼을 통해 국채원본기록을 생성하고, PAY.COOL사(PAY.COOL D.A. de V.C.)가 인수 및 후속거래를 FAB 블록체인과 법에 따라 PAY.COOL 플랫폼이 운영됩니다. </p>
        <p>DNB는 세계적으로 통용되는 국가채권발행기준에 따라 발행 및 관리되며, 채권의 매매, 거래, 관리 전 과정은 국제관례에 따라 진행됩니다. </p>
        <p>질문이 있는 경우 엘살바도르 정부 관련 부서에 이메일로 문의하거나 상담하십시오.</p>
        <p>이메일: </p>
    </div>

    <div *ngIf="currentLan === 'tk'">
        <h1>El Salvador Hükümeti Dijital Ulusal Tahvili DNB Hakkında</h1>
        <p>DNB, tahvilin şartlarına göre anapara ve faiz yükümlülüklerini geri ödemek için El Salvador hükümeti tarafından garanti edilen ulusal bir tahvildir. </p>
        <p>El Salvador, dünyada Bitcoin'i yasal bir para birimi haline getirmek için yasa çıkaran ilk ülkedir. Hükümet, Bitcoin'i yatırım çekmek, ekonomik kalkınmayı teşvik etmek, sermaye dolaşımını kolaylaştırmak, finansal katılımı teşvik etmek ve para
            birimi çeşitlendirmesi gibi Çoklu amaçları güçlendirmek için yasal bir para birimi olarak kullanmayı umuyor. </p>
        <p>Aynı zamanda El Salvador, gelecekteki bir Bitcoin şehri inşa etmek, Web3, Metaverse ve AI gibi gelişmekte olan endüstrilerin çok yönlü gelişimini desteklemek de dahil olmak üzere, Bitcoin merkezli dijital ekonomi için bir dizi kalkınma planı formüle
            etti. , El Salvador'u bölgesel ve hatta gelecekte dünyanın önemli bir dijital ekonomi merkezi haline getiriyor. </p>
        <p>Dijital ulusal borç DNB'sinin ihracı, El Salvador'un ulusal dijital ekonomi planının bir parçasıdır. Son zamanlarda, istikrarlı sosyal güvenlik ve hızlı ekonomik gelişme ile El Salvador ülkesinde sarsıcı değişiklikler meydana geldi. El Salvador'un
            nesnel koşullarına göre hükümet, El Salvador'un uzun vadeli ekonomik kalkınmasına ivme kazandırmayı umarak, küresel ana akım endüstri için yeni bir yön olan dijital ekonomiyi seçti. Dijital ulusal tahvillerin ihracı yoluyla, El Salvador'un
            dijital ekonomisinin gelişmesine yardımcı olacak ve yatırımcılara El Salvador'un dijital ekonomisinin getirilerini paylaşma fırsatları sağlayacak.
        </p>
        <p>
            Dijital hazine tahvilleri, blok zincirinde dijital olarak ihraç edilen hazine tahvilleridir. Dijital hazine bonoları, dijital sertifikalar şeklinde ihraç edilir. Düşük maliyet, yüksek güvenlik, güçlü likidite ve programlanabilirlik özelliklerine sahiptirler.
            Dijital ekonomi çağında yeni hazine bonosu türleridir. Gelecekte devlet tahvili ihraç etmenin ana yolu haline gelecektir. El Salvador dijital ulusal tahvili DNB, El Salvador hükümeti tarafından ihraç edilen ilk dijital ulusal tahvil ve dünyadaki
            ilk dijital ulusal tahvildir, dolayısıyla benzersiz bir hatıra önemi vardır.
        </p>
        <p>DNB, ABD doları cinsinden 10 yıllık kayıtlı bir ulusal tahvildir. DNB, farklı yatırımcıların ihtiyaçlarını karşılamak üzere iki farklı biçimde ihraç edilecek: adi ulusal tahvil (DNB) ve altın ulusal tahvil (XDNB).</p>
        <ul>
            <li>Adi devlet tahvillerinin her biri 100 ABD doları nominal değere ve yıllık %7,5 faiz oranına sahiptir. Faiz yılda bir kez ödenir ve anaparanın vadesi geldikten sonra itfa edilir. </li>
            <li>Her altın ulusal tahvilin itibari değeri 15.000 ABD dolarıdır ve 1,5 ons altın madeni para ve bir hatıra resmi ile temsil edilir. Altın hazine bonolarının yıllık faiz oranı %8 olup, faiz yılda bir kez ödenmektedir. Anaparanın süresi dolduğunda
                başa çıkmanın isteğe bağlı yolları vardır: birincisi, anaparayı altın para almadan kullanmak (%10 işlem ücreti gereklidir) ve aynı zamanda hatıra resimlerinin sahipliğini iade etmektir; diğeri ise, ana parayı kullanmadan hatıra altın paraları
                ve ilgili hatıra resimlerini almak ve sahip olmaktır. </li>
        </ul>

        <p>El Salvador hükümeti, dijital ulusal tahvil ihracını teşvik etmek ve ülkenin ekonomik kalkınmasının ihtiyaçlarını karşılamak amacıyla, yasaya göre ulusal tahvil ihracına yönelik göçmenlik politikaları sağlamıştır. Vatandaşlık mevcuttur. Satın
            alınan hazine bonosu, adi hazine bonosu, altın hazine bonosu veya ikisinin karışımı olabilir. Ayrıca, göçmen başvuru sahiplerinin sabıka kaydı olmaması ve önemli bir hastalığı olmaması gibi yasal gereklilikleri karşılaması gerekmektedir. </p>
        <p>Belirli bir ihraç yöntemi açısından El Salvador hükümeti, hükümet platformu aracılığıyla orijinal ulusal tahvil kaydını oluşturur ve PAY.COOL şirketi (PAY.COOL D.A. de V.C.), FAB blok zinciri ve PAY.COOL D.A. de V.C. PAY.COOL platformu yasalara
            göre çalışır. </p>
        <p>DNB, dünya çapında kabul görmüş ulusal tahvil ihraç standartlarına göre ihraç edilecek ve yönetilecek ve tahvil satış, işlem ve yönetimine ilişkin tüm süreç uluslararası uygulamalara uygun olarak uygulanacaktır. </p>
        <p>Herhangi bir sorunuz varsa, lütfen El Salvador hükümetinin ilgili departmanlarıyla e-posta yoluyla iletişime geçin veya onlara danışın:</p>
        <p>E-posta: </p>
    </div>

    <div *ngIf="currentLan === 'jp'">
        <h1>エルサルバドル政府デジタル国債DNBについて</h1>
        <p>DNB は、エルサルバドル政府が債券の条件に従って元本と利息の返済を保証する国債です。 </p>
        <p>エルサルバドルは、ビットコインを法定通貨として確立するための法案を可決した世界初の国です。政府は、ビットコインを法定通貨として使用して、投資を呼び込み、経済発展を促進し、資本循環を促進し、金融包摂を促進し、金融の強化を図ることを望んでいます。通貨の多様化など多目的。 </p>
        <p>同時に、エルサルバドルは、ビットコイン未来都市の建設、Web3、メタバース、AI などの新興産業の総合的発展の促進など、ビットコインを中心としたデジタル経済のための一連の開発計画を策定しました。 、エルサルバドルを地域、さらには世界の重要な将来のデジタル経済センターにします。 </p>
        <p>デジタル国債 DNBの発行は、エルサルバドルの国家デジタル経済計画の一部です。 近年、エルサルバドルでは社会保障の安定と経済の急速な発展という激変が起きており、政府はエルサルバドルの客観的状況に応じて、世界の主流産業の新たな方向性としてデジタル経済を選択しました。 、エルサルバドルの長期的な経済発展に弾みを与えることを望んでいます。 デジタル国債の発行を通じて、エルサルバドルのデジタル経済の発展を支援し、投資家がエルサルバドルのデジタル経済の配当を分かち合う機会を提供します。
        </p>
        <p>
            デジタル国債は、ブロックチェーン上でデジタル的に発行される国債です。デジタル国債は、デジタル証明書の形式で発行されます。低コスト、高セキュリティ、強力な流動性、およびプログラム可能なという特徴があります。これらは、世界における新しいタイプの国債です。デジタル経済の時代、今後の国債発行の主流となるでしょう。 エルサルバドルデジタル国債DNBは、エルサルバドル政府が発行した初のデジタル国債であり、世界初のデジタル国債であるため、独特の記念的な意味を持っています。
        </p>
        <p>DNB は米ドル建ての 10 年の登録国債です。さまざまな投資家のニーズを満たすために、DNB は普通国債 (DNB) と金国債 (XDNB) の 2 つの異なる形式で発行されます。 </p>
        <ul>
            <li>一般国債の額面は 100 ドル、年利は 7.5% です。利息は年に 1 回支払われ、元金の満了後に償還されます。 </li>
            <li>各金国債の額面は 15,000 米ドルで、1 オンスの金貨と記念写真で表されます。 金国債の年利は8％で、利息は年1回支払われますが、元本満期が到来した場合の処理​​方法としては、金貨を受け取らずに元本を償還する方法（手数料10％）が選択可能です。が必要）、同時に記念写真の所有権を返還する方法と、元本を償還せずに記念金貨とそれに対応する記念写真を受け取って所有する方法です。 </li>
        </ul>

        <p>デジタル国債の発行を促進し、国の経済発展のニーズを満たすために、エルサルバドル政府は法律に従って国債発行のための移民政策を提供しています。 購入する国債は、通常の国債、金国債、またはその 2 つの混合です。 さらに、移民申請者は犯罪歴がないこと、重大な病気がないことなどの法的要件を満たさなければなりません。 </p>
        <p>具体的な発行方法に関しては、エルサルバドル政府が政府プラットフォームを通じて元の国家債務記録を作成し、PAY.COOL 社 (PAY.COOL D.A. de V.C.) が FAB ブロックチェーンとその後の取引を引き受け、その後の取引を行います。 PAY.COOLプラットフォームは法律に基づいて運営されています。 </p>
        <p>DNB は、世界的に受け入れられている国債発行基準に従って発行および管理され、債券の販売、取引、管理の全プロセスは国際慣行に従って実施されます。 </p>
        <p>ご質問がある場合は、エルサルバドル政府の関連部門に電子メールでご連絡いただくか、ご相談ください。</p>
        <p>メールアドレス: </p>
    </div>

    <div *ngIf="currentLan === 'sc'">
        <h1>关于萨尔瓦多政府数字国债DNB</h1>
        <p>DNB是由萨尔瓦多政府信用担保根据债券条款偿还本金及利息义务的以数字通证方式发行的国债。</p>
        <p>萨尔瓦多是世界上第一个通过立法确立比特币作为法币的国家，政府希望通过比特币作为法定货币这一手段，实现吸引投资、促进经济发展、方便资本流通、推动金融包容性、加强货币多元化等多重目的。</p>
        <p>同时，萨尔瓦多还对以比特币为核心的数字经济制订了一整套发展计划，包括建设比特币未来城、推动Web3, 元宇宙，AI等新兴产业的全方位发展，使萨尔瓦多成为区域乃至全球未来重要的数字经济中心。</p>
        <p>数字国债DNB的发行，正是萨尔瓦多国家数字经济规划的一部分。 近年来，萨尔瓦多国家发生了天翻地覆的变化，社会治安稳定，经济快速发展，政府根据萨尔瓦多的客观条件，选准数字经济这一全球主流产业新方向，希望为萨尔瓦多长久经济发展提供动力。通过发行数字国债，助力萨尔瓦多数字经济发展，也为投资者分享萨尔瓦多数字经济红利提供机遇。
        </p>
        <p>
            数字国债是在区块链上以数字通证的方式发行的国债，与传统国债相比，数字国债具有成本低、安全性高、流通性强、可编程等特点，是数字经济时代的新型国债，将会成为未来国债发行的主要方式。萨尔瓦多数字国债DNB是萨尔瓦多政府发行的第一只数字国债，也是世界上第一只数字国债，因而具有独特的纪念意义。
        </p>
        <p>DNB是以美元计价的十年期记名国债，为了满足不同投资者的需求，此国债将以两种不同的形式发行：标准国债(DNB)及聪(小)国债(XDNB).</p>
        <ul>
            <li>标准国债(DNB)每张面值$100美元，年息7.5%，利息每年支付一次，本金到期后赎回。</li>
            <li>聪(小)国债(XDNB)每张面值1万5千美元，以1.5盎司纯金币配以纪念NFT的方式发行，金币在国债到期前由萨尔瓦多国家银行保管，纪念NFT交给投资人持有。聪(小)国债年息8%，利息每年支付一次，本金到期处理方式可选：一是不领取金币而是退回纪念NFT以赎回本金(需支付10%手续费)；另一种是领取并拥有纪念金币及对应的NFT而不赎回本金，到期时投资者可根据纪念币市场价格或偏好自行选择。</li>
        </ul>

        <p>为了促进数字国债的发行及根据本国经济发展的需要，萨尔瓦多政府根据法律为国债发行配套了移民政策，即购买$25万美元国债，全家(投资人与配偶及未满18岁子女)可获永久居民身份，购买$50万美元国债，全家可获公民身份。所购国债可以是标准国债、聪(小)国债、或二者混合。另外，移民申请人需符合无刑事犯罪记录、无重大疾病等法律规定。</p>
        <p>具体发行方式是由萨尔瓦多政府通过政府平台创建原始国债记录，由贝库支付公司(PAY.COOL D.A. de V.C.)根据法律通过FAB区块链及PAY.COOL平台承销及后续的交易运作。</p>
        <p>DNB将按照全球通行的国债发行准则发行及管理，债券的销售、交易、管理全过程操作均按照国际惯例执行。</p>
        <p>如有问题，请通过电邮与萨尔瓦多政府相关部门联系或谘询：</p>
        <p>Email: </p>
    </div>

    <div *ngIf="currentLan === 'tc'">
        <h1>關於薩爾瓦多政府數字國債DNB</h1>
        <p>DNB是由薩爾瓦多政府信用擔保根據債券條款償還本金及利息義務的國債。 </p>
        <p>薩爾瓦多是世界上第一個通過立法確立比特幣作為法幣的國家，政府希望通過比特幣作為法定貨幣這一手段，實現吸引投資、促進經濟發展、方便資本流通、推動金融包容性、加強貨幣多元化等多重目的。 </p>
        <p>同時，薩爾瓦多還對以比特幣為核心的數字經濟制訂了一整套發展計劃，包括建設比特幣未來城、推動Web3, 元宇宙，AI等新興產業的全方位發展，使薩爾瓦多成為區域乃至全球未來重要的數字經濟中心。 </p>
        <p>數字國債DNB的發行，正是薩爾瓦多國家數字經濟規劃的一部分。近來來，薩爾瓦多國家發生了天翻地覆的變化，社會治安穩定，經濟快速發展，政府根據薩爾瓦多的客觀條件，選準數字經濟這一全球主流產業新方向，希望為薩爾瓦多長久經濟發展提供動力。通過發行數字國債，助力薩爾瓦多數字經濟發展，也為投資者分享薩爾瓦多數字經濟紅利提供機遇。
        </p>
        <p>
            數字國債是在區塊鏈上以數字方式發行的國債，以數字通證的方式發行數字國債，具有成本低、安全性高、流通性強、可編程等特點，是數字經濟時代的新型國債，將會成為未來國債發行的主要方式。薩爾瓦多數字國債DNB是薩爾瓦多政府發行的第一隻數字國債，也是世界上第一隻數字國債，因而具有獨特的紀念意義。
        </p>
        <p>DNB是以美元計價的十年期記名國債，為了滿足不同投資者的需求，此國債將以兩種不同的形式發行：普通國債(DNB)及金國債(XDNB).</p>
        <ul>
            <li>普通國債每張面值$100美元，年息7.5%，利益每年支付一次，本金到期後贖回。 </li>
            <li>金國債每張面值1萬5千美元，以1.5盎司金幣及紀念圖片表示，金幣在國債到期前由薩爾瓦多國家銀行保管，紀念圖片交給投資人持有。金國債年息8%，利息每年支付一次，本金到期處理方式可選：一是不領取金幣(需支付10%手續費)而贖回本金，同時退回紀念圖片所有權；另一種是領取並擁有紀念金幣及對應紀念圖片而不贖回本金。 </li>
        </ul>

        <p>為了促進數字國債的發行及根據本國經濟發展的需要，薩爾瓦多政府根據法律為國債發行配套了移民政策，即購買$25萬美元國債，全家可獲永久居民身份，購買$50萬美元國債，全家可獲公民身份。所購國債可以是普通國債、金國債、或二者混合。另外，移民申請人需符合無刑事犯罪記錄、無重大疾病等法律規定。 </p>
        <p>具體發行方式上，是由薩爾瓦多政府通過政府平台創建原始國債記錄，由PAY.COOL公司(PAY.COOL D.A. de V.C.)根據法律通過FAB區塊鍊及PAY.COOL平台承銷及後續的交易運作。 </p>
        <p>DNB將按照全球通行的國債發行準則發行及管理，在債券的銷售、交易、管理的全過程操作均按照國際慣例執行。 </p>
        <p>如有問題，請通過電郵與薩爾瓦多政府相關部門聯繫或諮詢：</p>
        <p>Email: </p>
    </div>

</div>