<div class="container">
  <h1>{{'userAgreement.userAgreement'|translate}}</h1>
  <!-- <p>{{'userAgreement.updateDate'|translate}}</p> -->
  <p>{{'userAgreement.welcomeMessage'|translate}}</p>

  <h2>{{'userAgreement.sectionDefinitions.title'|translate}}</h2>
  <p>{{'userAgreement.sectionDefinitions.website'|translate}}</p>
  <p>{{'userAgreement.sectionDefinitions.user'|translate}}</p>
  <p>{{'userAgreement.sectionDefinitions.bonds'|translate}}</p>
  <p>{{'userAgreement.sectionDefinitions.kyc'|translate}}</p>

  <h2>{{'userAgreement.sectionUseLicense.title'|translate}}</h2>
  <p>{{'userAgreement.sectionUseLicense.authorization'|translate}}</p>
  <p>{{'userAgreement.sectionUseLicense.ageRequirement'|translate}}</p>
  <p>{{'userAgreement.sectionUseLicense.illegalAccess'|translate}}</p>

  <h2>{{'userAgreement.sectionRegistrationAndAccount.title'|translate}}</h2>
  <p>{{'userAgreement.sectionRegistrationAndAccount.accountCreation'|translate}}</p>
  <p>{{'userAgreement.sectionRegistrationAndAccount.accountSecurity'|translate}}</p>

  <h2>{{'userAgreement.sectionKYC.title'|translate}}</h2>
  <p>{{'userAgreement.sectionKYC.kycInfo'|translate}}</p>

  <h2>{{'userAgreement.sectionFinancialTransactions.title'|translate}}</h2>
  <p>{{'userAgreement.sectionFinancialTransactions.financialTransactions'|translate}}</p>
  <p>{{'userAgreement.sectionFinancialTransactions.transactionLimitations'|translate}}</p>

  <h2>{{'userAgreement.sectionPurchaseBonds.title'|translate}}</h2>
  <p>{{'userAgreement.sectionPurchaseBonds.purchaseBonds'|translate}}</p>
  <p>{{'userAgreement.sectionPurchaseBonds.kycVerification'|translate}}</p>
  <p>{{'userAgreement.sectionPurchaseBonds.paymentMethods'|translate}}</p>
  <p>{{'userAgreement.sectionPurchaseBonds.transactionConfirmation'|translate}}</p>
  <p>{{'userAgreement.sectionPurchaseBonds.bondsDelivery'|translate}}</p>

  <h2>{{'userAgreement.sectionPrivacyPolicy.title'|translate}}</h2>
  <p>{{'userAgreement.sectionPrivacyPolicy.privacyProtection'|translate}}</p>

  <h2>{{'userAgreement.sectionDataSecurity.title'|translate}}</h2>
  <p>{{'userAgreement.sectionDataSecurity.accountSecurity'|translate}}</p>

  <h2>{{'userAgreement.sectionLegalCompliance.title'|translate}}</h2>
  <p>{{'userAgreement.sectionLegalCompliance.complianceRequirements'|translate}}</p>

  <h2>{{'userAgreement.sectionChangesAndTermination.title'|translate}}</h2>
  <p>{{'userAgreement.sectionChangesAndTermination.rightsReserved'|translate}}</p>

  <h2>{{'userAgreement.sectionDisclaimer.title'|translate}}</h2>
  <p>{{'userAgreement.sectionDisclaimer.disclaimer'|translate}}</p>

  <h2>{{'userAgreement.sectionDisputeResolution.title'|translate}}</h2>
  <p>{{'userAgreement.sectionDisputeResolution.legalJurisdiction'|translate}}</p>

  <h2>{{'userAgreement.sectionContactUs.title'|translate}}</h2>
  <p>{{'userAgreement.sectionContactUs.contactUs'|translate}}</p>
  <p>{{'userAgreement.sectionContactUs.contactEmail'|translate}}</p>

  <p>{{'userAgreement.thankYouMessage'|translate}}</p>


</div>