<footer class="footer footer-dark">
    <div class="container foot-up">
        <div class="row">

            <div class="col-md-6 foot-left">
                <h3>{{'Links'|translate}}</h3>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <a class="foot-link" href="/assets/pdf/Security_License.pdf" routerLinkActive="router-link-active" >{{'Liscences'|translate}}</a>

                    </div>
                    <div class="col-md-6">
                        <a class="foot-link" href="#">{{'buyDesc'|translate}}</a>
                    </div>
                    <div class="col-md-6">
                        <a class="foot-link" href="/privacy">{{'Privacy Policy'|translate}}</a>
                    </div>
                    <div class="col-md-6">
                        <a class="foot-link" href="/terms">{{'Terms & Conditions'|translate}}</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <!-- <h3>{{ 'index3.t2' | translate }}</h3>
                <div class="row  mt-4">
                    <div class="white">
                        {{ 'index3.t3' | translate }}
                    </div>
                </div> -->


            </div>
            <!-- <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <a class="foot-link" href="#">Facebook</a>
                    </div>
                    <div class="col-md-6">
                        <a class="foot-link" href="https://x.com/pay_dot_cool">X(Twitter)</a>
                    </div>
                    <div class="col-md-6">
                        <a class="foot-link" href="#">Instagram</a>
                    </div>
                    <div class="col-md-6">
                        <a class="foot-link" href="#">LinkedIn</a>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
    <div class="container-fluid footer-bottom">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 footer-col t-c mt-3 mb-3">
                    <p class="">
                        © {{year}} METAHEGE. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>